$primary: #313131;
$bodybg: #F1F1F1;
$green: #3EE977;

$light: #686868;
$ultralight: #F8F8F8;

$purple: rgb(135,67,255);
$darkpurple: #5E3CF7;
$purpleGradient: linear-gradient(90deg, rgba(135,67,255,1) 0%, rgba(65,54,241,1) 100%);;

$transition: 200ms all ease;