@import "../../styles/_variables.scss";

.navbar{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: $primary;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.03);
    z-index: 9999999;
}

.nav-title-highlight{
    color: $purple;
}

.nav-back-arrow{
    position: absolute;
    left: 10px;
    top: 7px;
    height: 58px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 16px;
    transition: $transition;
    &:hover{
        transform: scale(1.1);
    }

    img{
        height: 100%;
        transform: rotate(180deg);
    }
}

@import "../responsive.scss";
